/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #162b4d;
  --link: #fff;
  --link--hover: #b8b8b8;
  --bg-footer-color: #162b4d;;
}

body {
  font-family: roboto;
}
.post-1 {
	background: #B71757;
}
.post-2 {
	background: #0D7E71;
}
.post-3 {
	background: #b1660e;
}
.post-4 {
	background: #d12767;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */

body {
  background-color: #0b192f;

  display: flex;
  flex-direction: column;
  align-items: center;*/

  /*justify-content: center;*/
}

body > * {
  width: 80%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #162b4d; 
  height: 100px;
}

header .title h1 {
  padding-left: 30px;
  font-weight: lighter;
  color: white;
}

header .title h1 span {
  color: #90285D;
}

header .menu nav  {
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  padding-top: 35px;
}

header .menu nav div{
  padding-right: 0px;

}

header .menu nav div a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
  box-sizing: border-box;
  border: 0px solid white;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 32px;
  padding-bottom: 43px;
}

header .menu nav div a:hover {
  background-color: #283D5F;  
}


/*-----------------------------------------------------*/

main .main-content {
  padding-top: 20px;
  width: 75%;
  display: flex;
  flex-direction: row;
  height: 1000px;
}

main .main-content .image-1 {
  background-image: url("../img/post1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 400px;
}

main .main-content .image-1:hover {
  background-color: #C6497B;
  box-shadow: inset 0 0 0 1000px rgba(183,23,87,.5);

}

main .main-content .text-1 {
  width: 50%;
  background-color: #B71757;
  height: 400px;
  padding-left: 30px;
}

main .main-content .text-1 h2 {
  color: white;
  font-weight: lighter;
  font-size: 40px;
}

main .main-content .text-1 p {
  color: white;
  font-weight: lighter;
  padding-right: 90px;
}

main .main-content .data-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 30px;
  color: #C6497B;
  padding-right: 10px;
  margin-top:-10%;
}

main .main-content .data-1 h3 {
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: -10%;

}

main .main-content .data-1 h4 {
  font-size: 30px;
  font-weight: lighter;
}

